<div id="header">
  <h1><%= link_to Site.current && Site.current.page_title, root_path %></h1>
  <%= content_tag :p, Site.current.description, :class => 'description' if Site.current && Site.current.description %>
  <%= render :partial => 'shared/sidebar' %>
</div>
