<div id="sidebar">
  <div class="sidebar-item">
    <%= sidebar_headlines %>
  </div>
  <%= content_tag :div, "#{link_to 'New Post', new_post_path} / #{link_to 'logout', logout_path}", :class => 'sidebar-item if_logged_in', :style => 'display:none' %>
</div>