<%- tags = taggable.tags unless local_assigns.has_key? :tags -%>
<ul class="tag_list">
  <%- tags.each do |tag| %>
    <li class="<%= 'last' if tag == tags.last -%>"><%= link_to tag.name, tag_path(tag.to_s, 'D') %></li>
  <%- end -%>
</ul>
