<h2>Top 20</h2>
<%= top_20_tags -%>
<h2>All Tags by most recent post</h2>
<%= render :partial => 'cloud', :locals => {:tags => @tags, :sort_order => 'D'}%>
<h2>All Tags in chronological order</h2>
<%= render :partial => 'cloud', :locals => {:tags => @tags, :sort_order => 'A'}%>
<%= archive_footer %>