<%- if posts.kind_of? WillPaginate::Collection -%>
  <div class="pagination">
    <div clas="page_info">
      <%= page_entries_info posts %>
    </div>
    <%= will_paginate posts, :container => false %>
  </div>
<%- end -%>