<ul id="posts">
<%- for post in posts -%>
  <li id="post_<%= post.id -%>" class="post">
    <%= render :partial => 'posts/post', :locals => {:post => post} %>
  </li>
<%- end -%>
</ul>
<%- if posts.kind_of? WillPaginate::Collection -%>
  <div class="pagination">
    <div clas="page_info">
      <%= page_entries_info posts %>
    </div>
    <%= will_paginate posts, :container => false %>
  </div>
<%- end -%>